
.game-buttons {
    margin: auto;
    padding: 40px;
    text-align: center;
    .new-game, .change-theme {
        width: auto;
        margin: 10px 2px;
        
        background-color:  $buttonColor;
        color: $buttonText;
        border: none;
        transition: 0.5s;
        &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }
        &:hover, &:active {
            background-color: $backgroundColor;
        }
    }
    .dark-button{
        background-color: rgb(76, 69, 69);
        color: rgb(211, 208, 208);
        &:hover, &:active {
            background-color:  rgb(17, 15, 15);
        }
    }
}
