//IMPORTS
@import './variables.scss';
@import './board.scss';
@import './boardPiece.scss';

body {
    max-height: 100vh;
    background-image: url('../img/backgroundwallpaper.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    color: whitesmoke;
    font-family: 'MedievalSharp', cursive;
}

h4 {
    text-align: center;
    padding: 20px;
}

