$backgroundColor: rgb(77, 39, 17);
$cellColor: rgb(165, 87, 42);
$inactiveCell: rgb(255, 220, 199);
$buttonText:  rgb(207, 143, 58);
$buttonColor: lighten($backgroundColor, 6);
$mainBackground:  rgb(172, 120, 53);
$scrollColor: rgb(158, 95, 37)
// $possibilityColor: complement($cellColor);